.detalle-container {
    display: flex;
    gap: 15px;
}

.imagen-detalle {
    width: 420px;
    height: 420px;
    object-fit: cover;
}

.titulo-detalle {
    font-size: 1.8em;
    font-weight: 550;
    margin-bottom: 10px;
    letter-spacing: .100rem;
}

.precio-detalle {
    font-size: 1.3em;
    font-weight: 400;
    margin-bottom: 20px;
}

.stock-disponible {
    background-color: #69ff8c;
    padding: .300rem 1.2rem;
    border-radius: 666px;
}

.stock-agotado {
    background-color: #d1d1d1;
    padding: .300rem 1.2rem;
    border-radius: 666px;
}

.contenedor-agregar {
    margin-top: 20px;
    width: 100%;
}

.btn-agregar {
    border: 2px solid #0a6b20;
    background-color: transparent;
    padding: .600rem 1.5rem;
    font-size: 1em;
    letter-spacing: .130rem;
    cursor: pointer;
    animation: wiggle 3.5s ease-in-out infinite;
}

.btn-agregar:hover {
    background-color: #0a6b20;
    color: white;
    transition: all 0.3s ease-in-out;
}

@keyframes wiggle {
    0% {
        transform: translateX(0);
    }

    5% {
        transform: translateX(-4px);
    }

    10% {
        transform: translateX(4px);
    }

    15% {
        transform: translateX(-2px);
    }

    20% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(0);
    }
}

.btn-agregar-disabled {
    border: 2px solid #949494;
    background-color: transparent;
    padding: .600rem 1.5rem;
    font-size: 1em;
    letter-spacing: .130rem;
    color: #5e5e5e;
    cursor: not-allowed;
}

.btn-agregar-cargando {
    border: 2px solid #0a6b20;
    background-color: #0a6b20;
    color: white;
    width: 200px;
    padding: 0.6rem 1.5rem;
    font-size: 1em;
    letter-spacing: 0.13rem;
    cursor: not-allowed;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.cargando-agregar {
    border: 2px solid #949494;
    border-top: 2px solid #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spiner 1s linear infinite;
}

@keyframes spiner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.alerta-stock {
    margin-top: 10px;
    color: #d32f2f;
    font-weight: 500;
}

.titulo-descripcion {
    margin-top: 25px;
    font-size: 1.35em;
    font-weight: 600;
    letter-spacing: .100rem;
}

.descripcion-producto {
    margin-top: 15px;
    font-size: 1em;
    line-height: 1.3;
    text-align: justify;
    color: #292929;
    width: 550px;
}

.mas-productos-container {
    margin-top: 35px;
    width: 100%;
    position: relative;
}

.titulo-mas-productos {
    font-size: 1.3em;
    font-weight: 550;
    margin-bottom: 20px;
    letter-spacing: .120rem;
    text-align: center;
}

.producto-sugerido {
    width: 250px;
    /* ancho fijo del slide */
    flex: 0 0 auto;
    /* importante para respetar el ancho fijo */
    box-sizing: border-box;
    /* incluye padding y borde en el width */
    text-align: center;
    margin-bottom: 50px;
}

.imagen-producto {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.info-contenido {
    margin-top: 10px;
}

.btn-ver-producto {
    margin-top: 10px;
    background-color: #0a6b20;
    border: 2px solid #0a6b20;
    padding: .400rem 1.2rem;
    font-size: 0.9em;
    letter-spacing: .100rem;
    cursor: pointer;
    color: white;
}

.btn-ver-producto:hover {
    background-color: transparent;
    color: #0a6b20;
    transition: all 0.3s ease-in-out;
}

.tns-nav {
    display: none !important;
}

/* Ocultar los botones de autoplay */
button[data-action="start"] {
    display: none !important;
}

button[data-action="stop"] {
    display: none !important;
}


@media (max-width: 1020px) {
    .descripcion-producto {
        width: 100%;
    }

}

@media (max-width: 850px) {
    .detalle-container {
        flex-direction: column;
    }

    .btn-agregar {
        width: 100%;
    }

    .btn-agregar-cargando {
        width: 100%;
    }

    .btn-agregar-disabled {
        width: 100%;
    }

    .alerta-stock {
        text-align: center;
    }

    .contenedor-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .precio-detalle {
        margin-bottom: 0;
    }
}

@media (max-width: 470px) {
    .imagen-detalle {
        width: 100%;
        height: auto;
        text-align: center;
    }

    .btn-agregar {
        width: 100%;
    }

    .btn-agregar-cargando {
        width: 100%;
    }

    .btn-agregar-disabled {
        width: 100%;
    }

    .alerta-stock {
        text-align: center;
    }

    .contenedor-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .precio-detalle {
        margin-bottom: 0;
    }
}