.title {
    font-size: 2.5rem;
    letter-spacing: .100em;
    margin-bottom: 30px;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 68vh;
    gap: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
}

.label {
    font-size: .800rem;
    letter-spacing: .150rem;
}

.error {
    color: #9c1c1c;
    font-size: 1rem;
    background-color: rgba(255, 0, 0, 0.1);
    padding: .500rem;
    border: 1px solid #9c1c1c;
    display: none;
    text-align: center;
}

.input {
    padding: 9px;
    border: 1px solid #0a6b21b0;
    font-size: 1rem;
    width: 100%;
}

.input:focus {
    outline: none;
    border: 2px solid #0a6b21;
}

.password-container {
    position: relative;
    width: 100%;
}

.btnMostrar {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    cursor: pointer;
    color: #0a6b21;
    width: 24px;
    height: 24px;
    background: none;
    background-image: url('data:image/svg+xml;base64,PHN2ZyAgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiAgd2lkdGg9IjI0IiAgaGVpZ2h0PSIyNCIgIHZpZXdCb3g9IjAgMCAyNCAyNCIgIGZpbGw9Im5vbmUiICBzdHJva2U9ImN1cnJlbnRDb2xvciIgIHN0cm9rZS13aWR0aD0iMS41IiAgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiAgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgIGNsYXNzPSJpY29uIGljb24tdGFibGVyIGljb25zLXRhYmxlci1vdXRsaW5lIGljb24tdGFibGVyLWV5ZSI+PHBhdGggc3Ryb2tlPSJub25lIiBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+PHBhdGggZD0iTTEwIDEyYTIgMiAwIDEgMCA0IDBhMiAyIDAgMCAwIC00IDAiIC8+PHBhdGggZD0iTTIxIDEyYy0yLjQgNCAtNS40IDYgLTkgNmMtMy42IDAgLTYuNiAtMiAtOSAtNmMyLjQgLTQgNS40IC02IDkgLTZjMy42IDAgNi42IDIgOSA2IiAvPjwvc3ZnPg==');
    transition: all 0.3s ease;
}

.btnOcultar {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    cursor: pointer;
    color: #0a6b21;
    width: 24px;
    height: 24px;
    background: none;
    background-image: url('data:image/svg+xml;base64,PHN2ZyAgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiAgd2lkdGg9IjI0IiAgaGVpZ2h0PSIyNCIgIHZpZXdCb3g9IjAgMCAyNCAyNCIgIGZpbGw9Im5vbmUiICBzdHJva2U9ImN1cnJlbnRDb2xvciIgIHN0cm9rZS13aWR0aD0iMS41IiAgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiAgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgIGNsYXNzPSJpY29uIGljb24tdGFibGVyIGljb25zLXRhYmxlci1vdXRsaW5lIGljb24tdGFibGVyLWV5ZS1vZmYiPjxwYXRoIHN0cm9rZT0ibm9uZSIgZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPjxwYXRoIGQ9Ik0xMC41ODUgMTAuNTg3YTIgMiAwIDAgMCAyLjgyOSAyLjgyOCIgLz48cGF0aCBkPSJNMTYuNjgxIDE2LjY3M2E4LjcxNyA4LjcxNyAwIDAgMSAtNC42ODEgMS4zMjdjLTMuNiAwIC02LjYgLTIgLTkgLTZjMS4yNzIgLTIuMTIgMi43MTIgLTMuNjc4IDQuMzIgLTQuNjc0bTIuODYgLTEuMTQ2YTkuMDU1IDkuMDU1IDAgMCAxIDEuODIgLS4xOGMzLjYgMCA2LjYgMiA5IDZjLS42NjYgMS4xMSAtMS4zNzkgMi4wNjcgLTIuMTM4IDIuODciIC8+PHBhdGggZD0iTTMgM2wxOCAxOCIgLz48L3N2Zz4=');
    transition: all 0.3s ease;
}

.btnLogin {
    background-color: #0a6b21;
    color: white;
    border: none;
    padding: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 10px;
    transition: all 0.3s ease;
}

.btnLogin:hover {
    background-color: #ffffff;
    color: #0a6b21;
    border: 2px solid #0a6b21;
}

.btnLogin.disabled {
    background-color: #0a6b21;
    color: white;
    border: none;
    padding: 10px;
    font-size: 1.2rem;
    cursor: not-allowed;
    margin-top: 10px;
}

.btnLoading {
    border: 2px solid #949494;
    border-top: 2px solid #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spiner 1s linear infinite;
    margin: 0 auto;
    text-align: center;
}

@keyframes spiner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}