.imagenprod {
    width: 220px;
    height: 220px;
}

.container-productos {
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.celda-producto {
    width: 250px;
    height: 330px;
    padding: 10px;
    text-align: center;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn-ver-producto {
    background-color: #0a6b20;
    color: white;
    border: none;
    width: 100%;
    padding: .600rem .400rem;
    letter-spacing: .1rem;
    cursor: pointer;
    margin-top: 10px;
    transition: all 0.3s ease-in-out;
}

.btn-ver-producto:hover {
    background-color: #ffffff;
    color: #0a6b20;
    border: 2px solid #0a6b20;
}