.sidemenu {
    background-color: #f4f4f4;
    width: 200px;
    height: 100%;
    padding: 10px;
    min-height: 300px;
}

.sidemenu-ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.sidemenu-li {
    width: 100%;
    padding: .580rem;
    text-align: left;
    cursor: pointer;
}

.sidemenu-li:hover {
    background-color: #ffffff;
}