@import "tailwindcss";
@plugin "@midudev/tailwind-animations";

@theme {
    --breakpoint-mobile: 25.75rem;
    --breakpoint-tablet: 53.125rem;
    --breakpoint-laptop: 68.75rem;
    --breakpoint-desktop: 75rem;
    --breakpoint-desktop-lg: 100rem;
    --breakpoint-desktop-xl: 120rem;
}